.footer-after .copyright {
  color: #777; }

.footer-container .links.block-contact, .footer-container .links {
  width: unset;
  text-align: left; }

.footer-container li a {
  color: #333; }

.header-top-wrapper.fixed img.logo {
  max-height: 42px; }

.breadcrumb .container .h1 {
  display: block;
  width: 100%;
  float: none; }

.breadcrumb ol {
  text-align: left; }

.breadcrumb li::after {
  content: ">"; }
  
#category-description h2, #category-description h3{
  padding-top: 15px;