.footer-after .copyright {
  color: #777; }

.footer-container .links.block-contact, .footer-container .links {
  width: unset;
  text-align: left; }

.footer-container li a {
  color: #333; }

.header-top-wrapper.fixed img.logo {
  max-height: 42px; }
