@import "variables"

.footer-after
  .copyright
    color: $footerGreyColor

.footer-container
  .links.block-contact, .links
    width: unset
    text-align: left

  li
    a
      color: $footerLinkColor

  .links
    .h3, h3, h3 a
      text-transform: none !important

.header-top-wrapper.fixed
  img.logo
    max-height: 42px

.breadcrumb
  .container
    .h1
      display: block
      width: 100%
      float: none

  ol
    text-align: left

  li::after
    content: ">"

#category-description
  h2, h3
    padding-top: 15px

.top-menu
  a[data-depth="0"]
    text-transform: none

.btn-primary,
.btn-secondary,
.btn-tertiary,
.products-section-title
  text-transform: none !important

.product-title
  a
    text-transform: none

#czcategorytabs
  .nav-item
    .category-title
      text-transform: none

.products
  .all-product-link,
  .product-title
    text-transform: none

.block_newsletter
  .title
    text-transform: none

.breadcrumb
  .container
    h1
      text-transform: none

#left-column, #right-column
  .products-block
    ul
      li
        .product-title
          a
            text-transform: none

.delivery-options
  .carrier-delay
    font-weight: 200

#zobrazitfirmu
  background: #f0f0f0 url('/themes/Cactuplan/assets/img/firma.png') no-repeat 10px center
  padding: 15px 15px 15px 90px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 15px
  margin-top: 10px
  border-radius: 2px
  color: #0f0f0f !important
  cursor: pointer
  border: 1px #7f7f7f solid
  font-family: oswald, Noto Sans, sans-serif

  &:hover
    background-color: #929292
    border: 1px #929292 solid
    -webkit-transition: all .3s ease-out
    -moz-transition: all .3s ease-out
    -ms-transition: all .3s ease-out
    -o-transition: all .3s ease-out
    transition: all .3s ease-out
    color: #F0F0F0 !important

.collapse-button.promo-code-button.cancel-promo
  padding-left: 0
  margin-bottom: 0
  display: block
