@import "variables"

.footer-after
  .copyright
    color: $footerGreyColor

.footer-container
  .links.block-contact, .links
    width: unset
    text-align: left

  li
    a
      color: $footerLinkColor

.header-top-wrapper.fixed
  img.logo
    max-height: 42px
